# Godot 4+ specific ignores
.godot/

# Scons seems to like building object files next to the source files, so ignore those
/gdextension/src/**/*.obj
/gdextension/src/**/*.o

# Also Scons build database
/gdextension/.sconsign.dblite

# The magic_evolution_cpp library
/lib_magic_evolution_cpp*

# The file that tells godot how to link the library (this should be set up by everyone separately)
/linker_file.gdextension